<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DataBaseModel" connectionString="data source=michal-komp\sqlexpress;initial catalog=ServerControler;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAdminService" />
        <binding name="BasicHttpBinding_IAdminService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9729/AdminService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IAdminService" contract="AdminServiceLocal.IAdminService"
        name="BasicHttpBinding_IAdminService" />
      <endpoint address="http://192.168.1.8:3001/AdminService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminService1"
        contract="AdminServiceServer.IAdminService" name="BasicHttpBinding_IAdminService1" />
    </client>
  </system.serviceModel>
</configuration>